/*
    fuck
*/

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .05rem;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg1.gif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color:black;
    color: white;
}

a{
    padding:3px;
    font-size:18px;
    color:white;
    font-weight: 300;
    text-decoration: none;
}
a:hover, a:active {
    color: #e07274;
}

.container {
    justify-content: center;
    text-align: center;
    margin: 0;
    line-height: 0;
    height:200px;
    position:relative;
    vertical-align:middle;
}

.center {
    position: absolute;
    margin:auto;
    top:-6vh;
    left:0;
    bottom:0;
    right:0;
}

#fitba {
    width:250px;
}

.fadeIn {
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}